@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- ////////////////////////////////////// Table Cours //////////////////////////////////////// -->
<div class="grid-container">
    <table class="table" id="data-table">

        <tr>
            <th hidden>Id</th>
            <th>Session</th>
            <th>Departement</th>
            <th>Cours</th>
            <th>Professeur</th>
        </tr>
    </table>

    <table>
        @foreach (var cours in Model.dataCourseSemester)
        {
        <tr>
            <td hidden> @cours.Id</td>
            <td>@cours.Semester</td>
            <td>@cours.Department</td>
            <td>@cours.Course</td>
            <td>@cours.TeacherFirstName @cours.TeacherLastName</td>
        </tr>
        }
        <tr></tr>

    </table>
</div>
    
<script>
    //document.addEventListener("DOMContentLoaded", function () {
    //    var elems = document.querySelectorAll("select");
    //    var instances = M.FormSelect.init(elems, options);
    //});)

    //document.addEventListener("DOMContentLoaded", (event) => {
    //    const tbody = documentquerySelector("#tableauNotes tbody");

    //    $.ajax({
    //        type: "Get",
    //        url: "/Home/GetStudentGrades",
    //        data: { studentId: $("#selectionEtu").val() },
    //        success: function (response) {
    //            response.forEach((grade) => {
    //                const row = document.createElement("tr");
    //                const studentName = document.createElement("td");
    //                studentName.textContent = grade.StudentName;
    //                row.appendChild(studentName);

    //                const midTerm = document.createElement("td");
    //                midTerm.textContent = grade.MidTerm;
    //                row.appendChild(midTerm);

    //                const finalExam = document.createElement("td");
    //                finalExam.textContent = grade.FinalExam;
    //                row.appendChild(finalExam);

    //                const project = document.createElement("td");
    //                project.textContent = grade.Project;
    //                row.appendChild(project);

    //                const finalGrade = document.createElement("td");
    //                finalGrade.textContent = grade.FinalGrade;
    //                row.appendChild(finalGrade);

    //                tbody.appendChild(row);
    //            })
    //        },
    //        error: function (response) {
    //            alert("error : " + response.responseText);
    //        }
    //    });
    //})

    //$(function () {
    //    $("#confirmeCours").click(function () {
    //        $.ajax({
    //            type: "Get",
    //            url: "/Home/GetCourseStudents",
    //            data: { courseId: $("#selectionCours").val() },
    //            success: function (data) {
    //                console.log(data);
    //                $("#selectionEtu").html(data);
    //            },
    //            error: function (response) {
    //                alert("error : " + response.responseText);
    //            }
    //        });
    //    });

    //    $("#confimeEtu").click(function () {
    //        $.ajax({
    //            type: "Get",
    //            url: "/Home/GetStudentGrades",
    //            data: { studentId: $("#selectionEtu").val() },
    //            success: function (data) {
    //                console.log(data);
    //                $("#tableauNotes").html(data);
    //            },
    //            error: function (response) {
    //                alert("error : " + response.responseText);
    //            }
    //        });
    //    });
    //});
    $(".BtnNav").show();
    $("#LogoutBtn").show();
</script>

<style>
    body {
        background-image: url("/images/DeanOffice.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1 {
        color: white;
        font-size: 75px;
        font-weight: bold;
        text-shadow: 2px 2px 4px #000000;
    }
    .profContentBox {
        background-color: rgba(128,128,128,0.8);
        padding: 10px;
        margin: auto;
        border-radius: 10px;
        width: 70%;
        color: white;
    }
    #Copyright {
        position: fixed;
        bottom: 0;
        right: 0;
        color: white;
        background-color: rgba(0,0,0,0.6);
        padding: 5px;
        font-size: 10px;
    }
    .formStyle {
        background-color: rgba(128,128,128,0.8);
        padding: 20px;
        border-radius: 10px;
        width: 70%;
        margin: auto;
    }
    .inputStyle {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        background-color: #fff;
        border: 2px solid rgb(0,0,0,0);
        box-sizing: border-box;
        border-radius: 4px;
        color: #000;
    }
    .buttonStyle {
        background-color: blue;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

</style>
