<!-- ////////////////////////////////////// Table Cours //////////////////////////////////////// -->
<div class="grid-container">
    <div class="tableauListe">
        <table class="table" id="data-table">

            <tr>
                <th hidden>Id</th>
                <th>Session</th>
                <th>Departement</th>
                <th>Cours</th>
                <th>Professeur</th>
            </tr>

            @foreach (var cours in Model.dataCourseSemester)
            {
            <tr>
                <td hidden> @cours.Id</td>
                <td>@cours.Semester</td>
                <td>@cours.Department</td>
                <td>@cours.Course</td>
                <td>@cours.TeacherFirstName @cours.TeacherLastName</td>
            </tr>
            }
        </table>
    </div>
    <div class="tableauResultat">
        <div class="titleResultat">
            <h4>Les Étudiants</h4>
        </div>
        <table class="table" id="resultTable">
            <tr>
                <th hidden>Id</th>
                <th>Étudiant</th>
                <th>Note</th>
                <th>Supprimer</th>
            </tr>

            @foreach (var student in Model.dataCourseSemesterStudent)
            {
            <tr>
                <td hidden> @student.StudentId</td>
                <td>@student.FirstName @student.LastName</td>
                <td class="changerNote">@student.Grade</td>
                <td><button class="removeStudent" data="@student.StudentId" id="boutonRemoveStudent">Retirer</button></td>
            </tr>
            }
        </table>
        <div class="titleProfs">
            <h4>Le Professeur du Cours</h4>
        </div>
        <table class="table" id="resultProf">
            <tr>
                <th hidden>Id</th>
                <th>Professeur</th>
                <th hidden>Ajouter</th>
            </tr>

            <!-- ERREUR AVEC LE FOREACH -->
            @*  @foreach (var teacher in Model.dataCourse)
                {
                    <tr>
                        <td hidden> @teacher.Id</td>
                        <td>@teacher.FirstName @teacher.LastName</td>
                        <td><button class="addTeacher" data="@teacher.TeacherId" id="boutonAddTeacher">Ajouter</button></td>
                    </tr>
                }*@
        </table>
    </div>

</div>

<!-- Tableau des étudiants du cours sélectionné -- Lorsqu'actif empêche le login -->


<script>
    //SCRIPT DU TRI -- FONCTIONNE
    // Pour trier les colonnes du tableau
    $(document).ready(function () {
        let triCroissant = true;

        $('th').click(function () {
            const table = $('#data-table');
            const columnIndex = $(this).index();

            $('th').each(function () {
                $(this).text($(this).text().replace(' ↑', '').replace(' ↓', ''));
            });

            // Recherche si la colonne est déjà triée
            const rows = table.find('tbody tr').toArray();

            // Tri des lignes
            rows.sort(function (a, b) {
                const aValue = $(a).find('td').eq(columnIndex).text();
                const bValue = $(b).find('td').eq(columnIndex).text();
                return triCroissant ? aValue.localeCompare(bValue) : bValue.localeCompare(aValue);
            });
            // Remplace les lignes dans le tableau
            table.find('tbody').empty().append(rows);

            // Ajoute la flèche de tri
            $(this).append(triCroissant ? ' ↑' : ' ↓');

            // Change le sens du tri
            triCroissant = !triCroissant;
        });
    });
    // FIN SCRIPT DU TRI -- FONCTIONNE NE PAS CHANGER


    //<-- Script pour afficher les détails du cours -->
    // Ne fonctionne pas

    // $(document).ready(function () {
    //     $("tbody tr").click(function () {
    //         const clickedRow = $(this);
    //         const courseId = clickedRow.find("td:first").text();

    //         $ajax({
    //         type: "GET",
    //         url: "/Home/CourseSemester",
    //         data: { courseId: courseId },
    //         success: function (data) {
    //             $("#detailsCours").html(data);
    //         },
    //         error: function (messageErreur) {
    //             alert("error : " + response.responseText);
    //         }
    //         });

    $.ajax({
        type: "GET",
            url: "/Home/ShowStudentInCourse",
                data: { courseId: courseId },
        success: function (dataCourseSemesterStudent) {
            var resultTable = $('#resultTable tbody');
            resultTable.empty();
            resultTable.append('<tr><th hidden >' + "Id" + ' </th><th hidden>' + "StudentId" + '</th><th>' + "Étudiant" + '</th><th>' + "Note" + '</th><th></th></tr>');
            dataCourseSemesterStudent.forEach(function (student) {
                var row = $('<tr>');
                row.append('<td hidden>' + student.Id + '</td>');
                row.append('<td hidden>' + student.StudentId + '</td>');
                row.append('<td>' + student.FirstName + ' ' + student.LastName + '</td>');
                row.append('<td class="changerNote">' + student.Grade + '</td>');
                row.append('<td><button class="removeStudent" data>Retirer</button></td>');
                resultTable.append(row);
            });

        },
        error: function (xhr, status, error) {
            console.error("Erreur : " + error);
        }
    });

    //             //Retirer un étudiant du cours click
    //             $(".removeStudent").click(function () {
    //                 const clickedRow = $(this).closest("tr");
    //                 const studentId = clickedRow.find("td:first").text();

    //                 $ajax({
    //                     type: "GET",
    //                     url: "/Home/RemoveStudentFromCourse",
    //                     data: { studentId: studentId, courseId: courseId },
    //                     success: function (etudiantsData) {
    //                         const tbody = $("#grilleEtudiants tbody");
    //                         $("#selectionEtu").html(etudiantsData);
    //                         tbody.empty();

    //                         etudiantsData.forEach((etudiant) => {
    //                             const row = $("<tr>");
    //                             tr.append($("<td>${etudiant.name}</td>");
    //                             tr.append($("<td><input type="text" value="${etudiant.grade}"></td>");
    //                             tr.append($("<td><button class="removeStudent">Retirer</button></td>");

    //                             tbody.append(row);
    //                         });
    //                     },
    //                     error: function (messageErreur) {
    //                         alert("error : " + response.responseText);
    //                     }
    //                 });
    //             });
    //         },
    //         error: function (messageErreur) {
    //             alert("error : " + response.responseText);
    //         }
    //     });

    // })

    $(".BtnNav").show();
    $("#LogoutBtn").show();
</script>

<style>
    body {
        background-image: url("/images/DeanOffice.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    h1 {
        color: white;
        font-size: 75px;
        font-weight: bold;
        text-shadow: 2px 2px 4px #000000;
    }

    tr:hover {
        background-color: rgba(0,0,0,0.1);
        cursor: pointer;
    }

    th {
        color: #000000;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 2px 2px 4px white;
    }

    .grid-container {
        background-color: rgba(128,128,128,0.8);
        padding: 10px;
        margin: 10px auto;
        margin-bottom: 20px;
        border-radius: 10px;
        width: 70%;
        color: white;
    }

    .detailCours {
        background-color: rgba(128,128,128,0.8);
        padding: 10px;
        margin: 10px auto;
        margin-bottom: 20px;
        border-radius: 10px;
        width: 70%;
        color: white;
    }

    #Copyright {
        position: fixed;
        bottom: 0;
        right: 0;
        color: white;
        background-color: rgba(0,0,0,0.6);
        padding: 5px;
        font-size: 10px;
    }

    .formStyle {
        background-color: rgba(128,128,128,0.8);
        padding: 20px;
        border-radius: 10px;
        width: 70%;
        margin: auto;
    }

    .inputStyle {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        background-color: #fff;
        border: 2px solid rgb(0,0,0,0);
        box-sizing: border-box;
        border-radius: 4px;
        color: #000;
    }

    .buttonStyle {
        background-color: blue;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #LogoutBtn {
        background-color: red;
        padding: 1px 2px;
        border: 2px solid rgb(0,0,0,0);
        border-radius: 4px;
        cursor: pointer;
    }

        #LogoutBtn:hover {
            background-color: rgb(124, 20, 17);
            padding: 1px 2px;
            border: 2px solid rgb(0,0,0,0);
            border-radius: 4px;
        }
</style>