<!-- //////////////////////////////////////Table Etudiant//////////////////////////////////////// -->
<div class="grid-container">
</div>

<div class="grid-container">
    
    <table class="table" id="data-table">

        <tr>
            <th hidden>Id</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Téléphone</th>
            <th>Courriel</th>
        </tr>
    </table>

    <table>

            @foreach (var etudiant in Model.dataPersons)
            {
            <tr>
                <td hidden>@etudiant.Id</td>
                <td>@etudiant.FirstName</td>
                <td>@etudiant.LastName</td>
                <td>@etudiant.Phone</td>
                <td>@etudiant.Email</td>

            </tr>
            }
            <tr></tr>
                
    </table>

</div>

<!-- //////////////////////////////////////Form Ajouter Etudiant//////////////////////////////////////// -->
<div id="AddStudentForm">
    <h2>Information de l'étudiant</h2>
    @using (Html.BeginForm("UpdateStudent", "Home"))
    {

        <span>Prénom : </span>
        <input type="text" name="FirstName" placeholder="Prénom" />
        <br />

        <span>Nom : </span>
        <input type="text" name="LastName" placeholder="Nom" />
        <br />

        <span>Téléphone : </span>
        <input type="text" name="Phone" placeholder="Téléphone" />
        <br />

        <span>Courriel : </span>
        <input type="text" name="Email" placeholder="Courriel" />
        <br />

        <button type="submit" class="btn btn-success">Sauvegarder</button>
    }
</div>

<script>

          //Valide si le email est bien ecrit.
        $("#inputEmail").change(function () {

            console.log("valeur : " + $(this).val());
            console.log("index of :" + $(this).val().indexOf('@@'));

            if (!$(this).val().includes('@@'))
            {
                $(this).addClass("error");
                $(this).next().show(); // $(this).next.removeClass("hidden");
            }
            else
            {
                $(this).removeClass("error");
                $(this).next().hide(); // $(this).next.addClass("hidden");
            }
               
        });

        $("ul li.test").html("test !");


</script>
